PYTHONPATH=/app/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=__CHANGE_ME__
DEBUG=0
DATABASE_URL=psql://__USER__:__PASSWORD__@txs-db:5432/postgres
ETH_L2_NETWORK=1
REDIS_URL=redis://txs-redis:6379/0
CELERY_BROKER_URL=amqp://__USER__:__PASSWORD__@txs-rabbitmq/
DJANGO_ALLOWED_HOSTS="*"
FORCE_SCRIPT_NAME=/txs/
CSRF_TRUSTED_ORIGINS="http://localhost:8000"
EVENTS_QUEUE_URL=amqp://general-rabbitmq:5672
EVENTS_QUEUE_ASYNC_CONNECTION=True
EVENTS_QUEUE_EXCHANGE_NAME="safe-transaction-service-events"
